  <head>
    <title>GoodPlacesTo...</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  </head>
  <body>
    <div class="navbar">
        <a href="/home"><i class="fas fa-home"></i></a>
        <a href="/login" style="float:right"><form action = '/logout?_method=DELETE' method="POST">
            <button type="submit">Log Out</button>
        </form></a>
        <div class="dropdown" style="float:right">
            <button class="dropbtn">Maps <i class="fa fa-caret-down"></i></button>
            <div class="dropdown-content">
            <a href="/waterFountains">Water Fountains</a>
            <a href="home.html">Washrooms</a>
            <a href="home.html">Showers</a>
            </div>
        </div> 
    </div>

    <div id="map" style="float: left;"></div>
    <div id="ratingsAll">
        <table id="table">
            
        </table>
    </div>

    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=API_KEY&callback=initMap&libraries=&v=beta">
    </script>
    <script>
    function initMap() {
        let lastStarPicked = -1;
    
        var map = new google.maps.Map(document.getElementById("map"), {
          center: { lat: 48.4632568359375, lng: -123.31224060058594 },
          zoom: 15,
          mapId: "DEMO_MAP_ID",
        });
    
        // var markers = [
        // {
        //     coords: {lat: 48.4632568359375, lng: -123.31224060058594},
        //     content: makeContent("hey", 4)
        // },
        // {
        //     coords:{lat: 48.46119550869299, lng: -123.3113826625658},
        //     content: "<h3>ECS</h3>"
        // },
        // ];
    
        var markers = [];
        let newMarker;
        let markerName;

        for (let i = 1; i <= Object.keys(fountains).length; i++) {
            markerName = "marker" + i;
            newMarker = {
                coords: fountains[markerName].coords,
                content: makeContent(fountains[markerName].content, i)
            }

            markers.push(newMarker)
        }

        console.log(markers)

        // Loop through markers
        for(var i = 0; i<markers.length; i++){
            addMarker(markers[i]);
        }

        let table = document.getElementById('table');
        let fullContent = '';
        let markerName1 = '';
        let innerContent = '';
        let header = '';
        let rating = '';
        for (let i = 1; i <= Object.keys(fountains).length; i++) {
            markerName1 = "marker" + i;
            header = fountains[markerName1].content;
            rating = fountains[markerName1].rating;
            innerContent = `<tr><th>${header}</th><th>${rating}</th></tr>`;
            fullContent += innerContent;
        }
        table.innerHTML = fullContent;
        
        function addMarker(props){
            var marker = new google.maps.Marker({
                position: props.coords,
                map: map,
            });
    
            if(props.content){
                var infoWindow = new google.maps.InfoWindow({
                    content: props.content,
                });
    
                marker.addListener("click", function(){
                    infoWindow.open(map, marker);
                });
            }
        }
    
        /**
         * makes content hopefully
         * @param {string} header 
         * @param {int} rating 
         * 
         * @returns html element
         */
        function makeContent(header, markerNumber) {
            sessionStorage.setItem('markerName', "marker" + markerNumber)
            let markerName = "marker" + markerNumber
            let outerDiv = document.createElement('div');
            outerDiv.classList.add('container');
            outerDiv.innerHTML = 
            `<form method="post" action="/waterFountains">
            <div class="star-widget">
            <h3 id='ratingHeader' value="ratingHeader">Rate: ${header}</h3>
            <input type="text" value="${markerName}" name="hiddenName" style="display:none;">
              <input type="radio" value="rate5" name="rate5" id="rate-5" onclick="sessionStorage.setItem('rating', 5)">
              <label for="rate-5" class="fas fa-star"></label>
              <input type="radio" value="rate4" name="rate4" id="rate-4" onclick="sessionStorage.setItem('rating', 4)">
              <label for="rate-4" class="fas fa-star"></label>
              <input type="radio" value="rate3" name="rate3" id="rate-3" onclick="sessionStorage.setItem('rating', 3)">
              <label for="rate-3" class="fas fa-star"></label>
              <input type="radio" value="rate2" name="rate2" id="rate-2" onclick="sessionStorage.setItem('rating', 2)">
              <label for="rate-2" class="fas fa-star"></label>
              <input type="radio" value="rate1" name="rate1" id="rate-1" onclick="sessionStorage.setItem('rating', 1)">
              <label for="rate-1" class="fas fa-star"></label>
                <div class="btn">
                <button type='submit' id="submit">Submit</button>
                </div>
              </form>
            </div>`;
    
            return outerDiv;
        }

        window.onload = function () {
            console.log(sessionStorage.getItem('markerName'))
            console.log(sessionStorage.getItem('rating'))
            fountains[sessionStorage.getItem('markerName')].rating = sessionStorage.getItem('rating');
        }
    
        const btn = document.querySelector("button");
        const post = document.querySelector(".post");
        const widget = document.querySelector(".star-widget");
        const editBtn = document.querySelector(".edit");
        btn.onclick = ()=>{
            widget.style.display = "none";
            post.style.display = "block";
            editBtn.onclick = ()=>{
                widget.style.display = "block";
                post.style.display = "none";
            }
            return false;
        }
    }
     
    const fountains = {
    marker1: {
        coords: {
            lat: 48.46212825453619, 
            lng: -123.31790950732885
        },
        content: 'Visual Arts Department',
        rating: -1,
total: 1
    },
    marker2: {
        coords: {
            lat: 48.46201349822746, 
            lng: -123.31650695089397
        },
        content: 'Arts Place',
        rating: -1,
total: 1
    },
    marker3: {
        coords: {
            lat: 48.46334228767972, 
            lng: -123.31436972523507
        },
        content: 'Human&Social Development A wing',
        rating: -1,
total: 1
    },
    marker4: {
        coords: {
            lat: 48.463054775088686, 
            lng: -123.31497351986425
        },
        content: 'Human&Social Development B wing',
        rating: -1,
total: 1
    },
    marker5: {
        coords: {
            lat: 48.46243877642845, 
            lng: -123.31425168303511
        },
        content: 'MacLaurin A wing main floor',
        rating: -1,
total: 1
    },
    marker6: {
        coords: {
            lat: 48.46250835608501, 
            lng: -123.31358203991148
        },
        content: 'MacLaurin A wing outside David Lam Auditorium',
        rating: -1,
total: 1
    },
    marker7: {
        coords: {
            lat: 48.46309632863304, 
            lng: -123.31370669990311
        },
        content: 'MacLaurin D wing',
        rating: -1,
total: 1
    },
    marker8: {
        coords: {
            lat: 48.46368962735985, 
            lng: -123.31409475439476
        },
        content: 'Hickman Building',
        rating: -1,
total: 1
    },
    marker9: {
        coords: {
            lat: 48.46426565005524, 
            lng: -123.31319204984894
        },
        content: 'Cornett Building',
        rating: -1,
total: 1
    },
    marker10: {
        coords: {
            lat: 48.465058183432674, 
            lng: -123.31417037337482
        },
        content: 'David Turpin Building A wing',
        rating: -1,
total: 1
    },
    marker11: {
        coords: {
            lat: 48.46475339462066, 
            lng: -123.31317225806862
        },
        content: 'David Strong Building 1',
        rating: -1,
total: 1
    },
    marker12: {
        coords: {
            lat: 48.46502813559071, 
            lng: -123.31318496792521
        },
        content: 'David Strong Building 2',
        rating: -1,
total: 1
    },
    marker13: {
        coords: {
            lat: 48.46522365587043, 
            lng: -123.31318496792521
        },
        content: 'Business and Economics Building',
        rating: -1,
total: 1
    },
    marker14: {
        coords: {
            lat: 48.46505068129866, 
            lng: -123.31168183222047
        },
        content: 'Welcome Centre (outside of Mystic Market)',
        rating: -1,
total: 1
    },
    marker15: {
        coords: {
            lat: 48.466088792195094, 
            lng: -123.31374989758699
        },
        content: 'Michael Williams Administration Building',
        rating: -1,
total: 1
    },
    marker16: {
        coords: {
            lat: 48.46624812827346, 
            lng: -123.31248284345439
        },
        content: 'Continuing Studies',
        rating: -1,
total: 1
    },
    marker17: {
        coords: {
            lat: 48.46661991050184, 
            lng: -123.31085169330615
        },
        content: 'Mckinnon Gym',
        rating: -1,
total: 1
    },
    marker18: {
        coords: {
            lat: 48.467619363502855, 
            lng: -123.31098276786821
        },
        content: 'CARSA',
        rating: -1,
total: 1
    },
    marker19: {
        coords: {
            lat: 48.46403531188709, 
            lng: -123.31032298184077
        },
        content: 'Clearihue A wing',
        rating: -1,
total: 1
    },
    marker20: {
        coords: {
            lat: 48.46417778829146, 
            lng: -123.31090619406763
        },
        content: 'Clearihue B wing',
        rating: -1,
total: 1
    },
    marker21: {
        coords: {
            lat: 48.464546698555, 
            lng: -123.31076806485602
        },
        content: 'Clearihue C wing',
        rating: -1,
total: 1
    },
    marker22: {
        coords: {
            lat: 48.46417269985533, 
            lng: -123.30982418190985
        },
        content: 'Clearihue D wing',
        rating: -1,
total: 1
    },
    marker23: {
        coords: {
            lat: 48.46352322428724, 
            lng: -123.30985486173005
        },
        content: 'Bibliocafe',
        rating: -1,
total: 1
    },
    marker24: {
        coords: {
            lat: 48.46332034841382, 
            lng: -123.30964659639733
        },
        content: 'McPherson Library B1',
        rating: -1,
total: 1
    },
    marker25: {
        coords: {
            lat: 48.46341290575357, 
            lng: -123.30940769163811
        },
        content: 'McPherson Library Main floor',
        rating: -1,
total: 1
    },
    marker26: {
        coords: {
            lat: 48.46337191697318, 
            lng: -123.3094967038214
        },
        content: 'McPherson Library 2nd floor',
        rating: -1,
total: 1
    },
    marker27: {
        coords: {
            lat: 48.46325878777741, 
            lng: -123.30955851783747
        },
        content: 'McPherson Library 3rd floor',
        rating: -1,
total: 1
    },
    marker28: {
        coords: {
            lat: 48.46269106295666, 
            lng: -123.31002783808272
        },
        content: 'Elliott',
        rating: -1,
total: 1
    },
    marker29: {
        coords: {
            lat: 48.46185294804501, 
            lng: -123.31019047349615
        },
        content: 'Petch Building',
        rating: -1,
total: 1
    },
    marker30: {
        coords: {
            lat: 48.46203166487791, 
            lng: -123.3089312107217
        },
        content: 'BWC',
        rating: -1,
total: 1
    },  
    marker31: {
        coords: {
            lat: 48.46119487343001, 
            lng: -123.31167319933711
        },
        content: 'ECS Main floor',
        rating: -1,
total: 1
    },
    marker32: {
        coords: {
            lat: 48.46109878703432,
            lng: -123.31169353600625
        },
        content: 'ECS 2nd floor',
        rating: -1,
total: 1
    },  
    marker33: {
        coords: {
            lat: 48.46097572875317,
            lng: -123.3116299839152
        },
        content: 'ECS 3rd floor',
        rating: -1,
total: 1
    },
    marker34: {
        coords: {
            lat: 48.46118475908114,
            lng: -123.31134018638002
        },
        content: 'ECS 4th floor',
        rating: -1,
total: 1
    },
    marker35: {
        coords: {
            lat: 48.46086447032434,
            lng:  -123.31155626348958
        },
        content: 'ECS 5th floor',
        rating: -1,
total: 1
    },
    marker36: {
        coords: {
            lat: 48.46097741448506,
            lng: -123.31135289679823
        },
        content: 'ECS 6th floor',
        rating: -1,
total: 1
    },
    marker37: {
        coords: {
            lat: 48.46129997483941,
            lng: -123.31097256174465
        },
        content: 'ELW B1',
        rating: -1,
total: 1
    },
    marker38: {
        coords: {
            lat: 48.46127760903248,
            lng: -123.31033925637269
        },
        content: 'ELW Main floor',
        rating: -1,
total: 1
    },
    marker39: {
        coords: {
            lat: 48.460969908504026,
            lng: -123.31084670968853
        },
        content: 'ELW 2nd floor',
        rating: -1,
total: 1
    },
    marker40: {
        coords: {
            lat: 48.461083823385195,
            lng: -123.31097110485935
        },
        content: 'ELW 3rd floor',
        rating: -1,
total: 1
    },
    marker41: {
        coords: {
            lat: 48.461404535247375,
            lng: -123.30967501571749
        },
        content: 'EOW B1',
        rating: -1,
total: 1
    },
    marker42: {
        coords: {
            lat: 48.461392633421944,
            lng: -123.30985623188965
        },
        content: 'EOW Main floor',
        rating: -1,
total: 1
    },
    marker43: {
        coords: {
            lat: 48.464262336307414,
            lng: -123.30702507010757
        },
        content: 'The Cove Main floor',
        rating: -1,
total: 1
    },
    marker44: {
        coords: {
            lat: 48.46426515048154,
            lng: -123.30725212674602
        },
        content: 'The Cove 2nd floor',
        rating: -1,
total: 1
    },
    marker45: {
        coords: {
            lat: 48.46532281818555,
            lng: -123.30817362778484
        },
        content: 'The SUB 1',
        rating: -1,
total: 1
    },
    marker46: {
        coords: {
            lat: 48.46492565665188,
            lng: -123.30801600449101
        },
        content: 'The SUB 2',
        rating: -1,
total: 1
    },
}
    </script>
  </body>

  <style>
    #ratingsAll {
        /* width: 50%; */
        overflow: auto;
        height: 93%;
    }

    table {
        /* width: 50%; */
        /* overflow: scroll; */
    }

    .right-side {
    display: flex;
    padding-left: 70%;
    padding-right: 0px;
}

/***/
.navbar {
    overflow: hidden;
    background-color: white;
    color: black;
    height: 7%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.035);
}

.navbar a {
    float: left;
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

    opacity: 0.6;
    transition: 0.3s;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: black;
    padding: 14px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;

    opacity: 0.6;
    transition: 0.3s;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    opacity: 1;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
    height: 100vh;
    font-family: "Poppins",sans-serif;
}

.content {
    font-size: 45px;
    font-weight: 500;
    display: grid;
    place-items: center;
    /* height: 0vh; */
    height: 93%;

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
    font-size: 45px;
    font-weight: 500;
}
.wrapper{
    box-sizing: content-box;
    background-color: #ffffff;
    height: 70px;
    padding: 50px 30px;
    display: flex;
    border-radius: 8px;
    box-shadow: 0 20px 35px rgba(0,0,0,0.2);
}
.words{
    overflow: hidden;
}
.words span{
    display: block;
    height: 100%;
    padding-left: 10px;
    color: #0e6ffc;
    animation: spin_words 6s infinite;
}
@keyframes spin_words{
    50%{
        transform: translateY(-112%);
    }
    25%{
        transform: translateY(-100%);
    }
    35%{
        transform: translateY(-212%);
    }
    50%{
        transform: translateY(-200%);
    }
    60%{
        transform: translateY(-312%);
    }
    75%{
        transform: translateY(-300%);
    }
    85%{
        transform: translateY(-412%);
    }
    100%{
        transform: translateY(-400%);
    }
}

#map {
    height: 93%;
    width: 80%;
}

.container{
  position: relative;
  width: 400px;
  background: white;
  /* padding: 30px 30px; */
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 14px;
  overflow: auto;
}

.container .post{
  display: none;
}

.container .edit{
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 16px;
  color: #666;
  font-weight: 500;
  cursor: pointer;
}
.container .edit:hover{
  text-decoration: underline;
}
.container .star-widget input{
  display: none;
}

.star-widget label{
  font-size: 40px;
  color: #444;
  padding: 10px;
  float: right;
  transition: 0.2s;
}

input:not(:checked) ~ label:hover,
input:not(:checked) ~ label:hover ~ label{
  color: #fd4;
}

input:checked ~ label{
  color: #fd4;
}

input:checked ~ form{
  display: block;
}

form .textarea{
    height: 100px;
    width: 100%;
    overflow: auto;
}

form .textarea textarea{
    height: 80%;
    width: 100%;
    outline: none;
    color: black;
    border: 1px solid #333;
    background: white;
    padding: 10px;
    font-size: 16px;
    resize: none;
    border-radius: 8px;
    margin-top: 10px;

    opacity: 0.6;
    transition: 0.3s;
}

.textarea textarea:focus{
    opacity: 1;
}

.textarea textarea:hover{
    opacity: 1;
}

form .btn{
  height: 45px;
  width: 100%;
  margin: 15px 0;
}

form .btn button{
  height: 100%;
  width: 100%;
  outline: none;
  background: white;
  border: none;
  color: black;
  font-size: 16px;
  cursor: pointer;
  opacity: 0.6;
  transition: 0.3s;
}

form .btn button:hover{
    opacity: 1;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
    background: #888; 
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
  </style>
